create table academia
(
    id          bigint generated by default as identity
        primary key,
    dt_created  timestamp with time zone,
    dt_modified timestamp with time zone,
    cs_active   boolean      not null,
    name        varchar(100) not null,
    endereco    varchar(200) not null,
    telefone    varchar(100),
    email       varchar(254)
        constraint academia_email_51d11351_uniq
            unique
);

alter table academia
    owner to my_gym;

create index academia_email_51d11351_like
    on academia (email varchar_pattern_ops);

create table aluno
(
    id              bigint generated by default as identity
        primary key,
    dt_created      timestamp with time zone,
    dt_modified     timestamp with time zone,
    cs_active       boolean      not null,
    nome            varchar(100) not null,
    telefone        varchar(100) not null,
    email           varchar(254) not null
        unique,
    data_nascimento date         not null,
    matricula       varchar(20)  not null
        unique
);

alter table aluno
    owner to my_gym;

create index aluno_email_41f87c09_like
    on aluno (email varchar_pattern_ops);

create index aluno_matricula_193255eb_like
    on aluno (matricula varchar_pattern_ops);

create table frequencia
(
    id          bigint generated by default as identity
        primary key,
    dt_created  timestamp with time zone,
    dt_modified timestamp with time zone,
    cs_active   boolean                  not null,
    data        timestamp with time zone not null,
    academia    bigint                   not null
        constraint frequencia_academia_6b6c7904_fk_academia_id
            references academia
            deferrable initially deferred,
    aluno       bigint                   not null
        constraint frequencia_aluno_0cbda87a_fk_aluno_id
            references aluno
            deferrable initially deferred
);

alter table frequencia
    owner to my_gym;

create index frequencia_academia_6b6c7904
    on frequencia (academia);

create index frequencia_aluno_0cbda87a
    on frequencia (aluno);

create table plano
(
    id              bigint generated by default as identity
        primary key,
    dt_created      timestamp with time zone,
    dt_modified     timestamp with time zone,
    cs_active       boolean        not null,
    nome            varchar(100)   not null,
    preco           numeric(10, 2) not null,
    descricao       text           not null,
    duracao         integer        not null,
    academia        bigint         not null
        constraint plano_academia_6017a89e_fk_academia_id
            references academia
            deferrable initially deferred,
    dias_permitidos jsonb          not null,
    desconto        numeric(5, 2),
    beneficios      jsonb          not null,
    total_alunos    integer        not null
        constraint plano_total_alunos_check
            check (total_alunos >= 0)
);

alter table plano
    owner to my_gym;

create table aluno_plano
(
    id              bigint generated by default as identity
        primary key,
    dt_created      timestamp with time zone,
    dt_modified     timestamp with time zone,
    cs_active       boolean not null,
    aluno           bigint  not null
        constraint aluno_plano_aluno_4f3baff1_fk_aluno_id
            references aluno
            deferrable initially deferred,
    plano           bigint  not null
        constraint aluno_plano_plano_33dcb5c3_fk_plano_id
            references plano
            deferrable initially deferred,
    data_vencimento date,
    constraint aluno_plano_aluno_plano_6ee7d48c_uniq
        unique (aluno, plano)
);

alter table aluno_plano
    owner to my_gym;

create index aluno_plano_aluno_4f3baff1
    on aluno_plano (aluno);

create index aluno_plano_plano_33dcb5c3
    on aluno_plano (plano);

create table pagamento
(
    id              bigint generated by default as identity
        primary key,
    dt_created      timestamp with time zone,
    dt_modified     timestamp with time zone,
    cs_active       boolean          not null,
    data_pagamento  date             not null,
    data_vencimento date             not null,
    aluno_plano     bigint           not null
        constraint pagamento_aluno_plano_63b46a4c_fk_aluno_plano_id
            references aluno_plano
            deferrable initially deferred,
    tipo_pagamento  varchar(1)       not null,
    valor           double precision not null
);

alter table pagamento
    owner to my_gym;

create index pagamento_aluno_plano_63b46a4c
    on pagamento (aluno_plano);

create index plano_academia_6017a89e
    on plano (academia);

create table usuario
(
    user_ptr_id  integer      not null
        primary key
        constraint usuario_user_ptr_id_1f99d425_fk_auth_user_id
            references auth_user
            deferrable initially deferred,
    nome         varchar(100) not null,
    tipo_usuario varchar(1)   not null
);

alter table usuario
    owner to my_gym;

create table usuario_academia
(
    id               bigint generated by default as identity
        primary key,
    dt_created       timestamp with time zone,
    dt_modified      timestamp with time zone,
    cs_active        boolean                  not null,
    tipo_usuario     varchar(1)               not null,
    academia         bigint                   not null
        constraint usuario_academia_academia_2b28677c_fk_academia_id
            references academia
            deferrable initially deferred,
    usuario          integer                  not null
        constraint usuario_academia_usuario_eb9ee674_fk_usuario_user_ptr_id
            references usuario
            deferrable initially deferred,
    data_contratacao timestamp with time zone not null
);

alter table usuario_academia
    owner to my_gym;

create index usuario_academia_academia_2b28677c
    on usuario_academia (academia);

create index usuario_academia_usuario_eb9ee674
    on usuario_academia (usuario);

create table produto
(
    id                 bigint generated by default as identity
        constraint produto_produto_pkey
            primary key,
    dt_created         timestamp with time zone,
    dt_modified        timestamp with time zone,
    cs_active          boolean        not null,
    nome               varchar(100)   not null,
    descricao          text           not null,
    preco              numeric(10, 2) not null,
    foto               varchar(200),
    data_cadastro      date           not null,
    categoria          varchar(100)   not null,
    academia_id        bigint
        constraint produto_produto_academia_id_e76f4bf2_fk_academia_id
            references academia
            deferrable initially deferred,
    marca              varchar(200),
    estoque_minimo     integer        not null
        constraint produto_produto_estoque_minimo_check
            check (estoque_minimo >= 0),
    quantidade_estoque integer        not null
        constraint produto_produto_quantidade_estoque_check
            check (quantidade_estoque >= 0)
);

alter table produto
    owner to my_gym;

create index produto_produto_academia_id_e76f4bf2
    on produto (academia_id);

create table lote_produto
(
    id             bigint generated by default as identity
        constraint produto_loteproduto_pkey
            primary key,
    dt_created     timestamp with time zone,
    dt_modified    timestamp with time zone,
    cs_active      boolean                  not null,
    quantidade     integer                  not null
        constraint produto_loteproduto_quantidade_check
            check (quantidade >= 0),
    data_validade  date                     not null,
    data_entrada   timestamp with time zone not null,
    produto_id     bigint                   not null
        constraint produto_loteproduto_produto_id_05dbb86b_fk_produto_produto_id
            references produto
            deferrable initially deferred,
    preco_total    numeric(10, 2)           not null,
    preco_unitario numeric(10, 2)           not null
);

alter table lote_produto
    owner to my_gym;

create index produto_loteproduto_produto_id_05dbb86b
    on lote_produto (produto_id);

create table venda
(
    id          bigint generated by default as identity
        constraint venda_venda_pkey
            primary key,
    dt_created  timestamp with time zone,
    dt_modified timestamp with time zone,
    cs_active   boolean                  not null,
    data_venda  timestamp with time zone not null,
    valor_total numeric(10, 2)           not null,
    academia_id bigint
        constraint venda_venda_academia_id_7bc86524_fk_academia_id
            references academia
            deferrable initially deferred,
    cliente_id  bigint
        constraint venda_venda_cliente_id_ed546af7_fk_aluno_id
            references aluno
            deferrable initially deferred,
    vendedor_id integer
        constraint venda_venda_vendedor_id_2d94be3d_fk_usuario_user_ptr_id
            references usuario
            deferrable initially deferred
);

alter table venda
    owner to my_gym;

create index venda_venda_academia_id_7bc86524
    on venda (academia_id);

create index venda_venda_cliente_id_ed546af7
    on venda (cliente_id);

create index venda_venda_vendedor_id_2d94be3d
    on venda (vendedor_id);

create table item_venda
(
    id             bigint generated by default as identity
        constraint venda_itemvenda_pkey
            primary key,
    dt_created     timestamp with time zone,
    dt_modified    timestamp with time zone,
    cs_active      boolean        not null,
    quantidade     integer        not null
        constraint venda_itemvenda_quantidade_check
            check (quantidade >= 0),
    preco_unitario numeric(10, 2) not null,
    produto_id     bigint
        constraint venda_itemvenda_produto_id_44500338_fk_produto_produto_id
            references produto
            deferrable initially deferred,
    venda_id       bigint
        constraint venda_itemvenda_venda_id_a43a6ce5_fk_venda_venda_id
            references venda
            deferrable initially deferred
);

alter table item_venda
    owner to my_gym;

create index venda_itemvenda_produto_id_44500338
    on item_venda (produto_id);

create index venda_itemvenda_venda_id_a43a6ce5
    on item_venda (venda_id);

create table chat_gym_session
(
    id          bigint generated by default as identity
        primary key,
    dt_created  timestamp with time zone,
    dt_modified timestamp with time zone,
    cs_active   boolean      not null,
    session_id  varchar(255) not null,
    user_id     integer      not null
        constraint chat_gym_session_user_id_c989af34_fk_auth_user_id
            references auth_user
            deferrable initially deferred
);
