.header {
  background: #4dca4f;
  height: 80px;
  color: white;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spacer {
  flex: 1;
}

mat-sidenav-container {
  height: calc(100vh - 80px);
}

mat-sidenav {
  width: 200px;
  background: #f6f6f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1px;
}

.side-nav {
  display: flex;
  flex-direction: column;
}

.side-nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 0;
  font-size: 18px;
  padding: 9px 16px;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.side-nav a:hover {
  background-color: #f0f0f0;
  width: 98%;
}

.side-nav mat-icon {
  padding: 4px;
  margin-right: 10px;
  font-size: 20px;
  color: #4dca4f;
}


.main-container {
  background-color: #ebf0f8;
}

.active-link,
a.active-link,
a[mat-button].active-link {
  background-color: #4dca4f !important;
  font-weight: bold;
  color: #ffffff !important;
}

.active-link mat-icon,
a.active-link mat-icon,
a[mat-button].active-link mat-icon {
  color: #ffffff !important;
}
