<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="authentic(formGroup.value)" class="mat-elevation-z2 form">
    <mat-form-field appearance="fill" class="email">
      <mat-label>Email</mat-label>
      <input matInput formControlName="username" placeholder="Digite seu usuário" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Digite sua senha" />
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!formGroup.valid" type="submit">Entrar</button>
  </form>
</div>
