<h3>Cadastro / Edicao de aluno</h3>
<mat-tab-group [(selectedIndex)]="selectedIndex">
  <mat-tab label="Dados do Aluno">
    <div class="container">
      <form [formGroup]="formGroup" (ngSubmit)="saveOrUpdate(formGroup.value)" class="mat-elevation-z2 form">
        <mat-form-field appearance="fill" class="nome">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" placeholder="Digite o nome"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Digite o Email"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Telefone</mat-label>
          <input matInput type="cellphone" formControlName="telefone" placeholder="Digite o Telefone"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Data de nascimento</mat-label>
          <input matInput type="date" formControlName="data_nascimento" placeholder="digite a data de nascimento"/>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="!formGroup.valid" type="submit" class="save">Salvar
        </button>
      </form>

    </div>
  </mat-tab>
  <mat-tab label="Seleção de Plano" [disabled]="!obj">
    <app-member-plan [member]="obj"></app-member-plan>
  </mat-tab>
</mat-tab-group>

