.header {
  display: flex;
  justify-content: end;
  background: #4dca4f;
  height: 80px;
  padding: 0 30px;
  border-radius: 9px;
  color: white;
}

  .user-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.spacer {
  flex: 1;
}
