.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1;
}
