<div class="container">
  <div class="form-container">
    <form [formGroup]="formGroup" (ngSubmit)="createAccount(formGroup.value)" class="mat-elevation-z2 form">

      <div class="header">
        <img src="img/MyGymLogoOnly_0002.png" alt="teste" height="100" width="100">
        <h2> Junte-se ao MyGym</h2>
      </div>

      <mat-form-field appearance="fill" class="email">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" placeholder="Digite seu Nome">
      </mat-form-field>

      <mat-form-field appearance="fill" class="email">
        <mat-label>Email</mat-label>
        <input matInput formControlName="username" placeholder="Digite seu Email"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Digite sua senha"/>
      </mat-form-field>

      <button mat-raised-button color="primary"  [disabled]="!formGroup.valid" type="submit">Entrar</button>

      <div>
        Já é cadastrado?
        <a routerLink="/auth/login" class="register-link">Login</a>
      </div>

    </form>
    <br>

  </div>
</div>
<p>register works!</p>

