<main class="chat-container">
  <mat-toolbar color="primary" class="chat-toolbar">
    <span>Chat com MyGym IA</span>
  </mat-toolbar>

  <div class="chat-messages" #chatMessages>
    @for (message of messages; track message.id) {
      <div class="message mt-3" [ngClass]="{'user-message': message.isUser, 'ia-message': !message.isUser}">
        <div class="message-content">
          <span class="message-text">{{ message.text }}</span>
          <span class="message-time">{{ message.time | date:'shortTime' }}</span>
        </div>
      </div>
    }
    @if (!messages.length) {
      <div class="empty-state">
        <p>Faça uma pergunta para começar a conversar com a IA!</p>
      </div>
    }
  </div>

  <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="grid justify-content-center justify-content-start chat-input">
    <mat-form-field appearance="fill" class="col-8 align-self-center justify-content-start align-items-center align-content-center">
      <mat-label>Digite sua pergunta</mat-label>
      <input matInput formControlName="quest">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!chatForm.valid || loading" class="align-self-center">
      <mat-icon>send</mat-icon>
      {{ loading ? 'Enviando...' : 'Enviar' }}
    </button>
  </form>
</main>
