<div class="gym-container">
  <h2> Academias cadastradas</h2>
  <div class="gym-cards">
    @for (gym of gyms; track gym.id) {
      <mat-card (click)="selectGym(gym)" class="gym-card">
        <mat-card-header>
          <mat-card-title> {{ gym.nome }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle>Tel: {{ gym.telefone }}</mat-card-subtitle>
          <mat-card-subtitle>Endereço: {{ gym.endereco }}</mat-card-subtitle>
        </mat-card-content>
        <button mat-button (click)="edit(gym)">Editar</button>

      </mat-card>
    }

    <mat-card (click)="create()" class="gym-card add-gym-card">
      <mat-card-header>
        <mat-card-title>+</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Adicionar Nova Academia</p>
      </mat-card-content>
    </mat-card>

  </div>

  <app-paginator
    [totalItems]="totalResults"
    [itemsPerPage]="limit"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)">
  </app-paginator>


</div>
