<div class="Plan-list">
  <div class="flex flex-wrap justify-content-center gap-3 p-2">
    @for (plan of plans; track plan.id) {
      <mat-card class="plan-card w-30rem p-3 flex flex-column justify-content-between">
        <mat-card-content class="flex-grow-1">
          <div class="flex flex-column gap-2">
            <div class="flex align-items-center justify-content-between">
              <div class="text-2xl font-bold">{{ plan.nome }}</div>
              <div class="text-2xl font-bold text-green-500">R$ {{ plan.preco }}</div>
            </div>

            <div class="line-clamp-3 text-gray-700 text-sm mb-2 overflow-hidden text-overflow-ellipsis line-clamp-3">
              {{ plan.descricao }}
            </div>

            <div class="text-lg font-bold overflow-hidden text-overflow-ellipsis">Benefícios:</div>
            <ul class="pl-3 line-clamp-5 overflow-hidden">
              @for (benefit of plan.beneficios; track benefit) {
                <li class="text-sm"> {{benefit}}</li>
              }
            </ul>

          </div>
        </mat-card-content>

        <button mat-stroked-button class="view-details-button p-2 w-full align-content-center justify-content-center" (click)="(editPlan(plan))">
          <mat-icon>check_circle</mat-icon>
          Selecionar Plano
        </button>
      </mat-card>
    }
  </div>

  <div class="pagination flex justify-content-center gap-2 mt-5">
    <button mat-raised-button (click)="prevPage()" [disabled]="currentPage === 0">Anterior</button>
    <span>Página {{ currentPage + 1 }} de {{ totalResults / limit | number: '1.0-0' }}</span>
    <button mat-raised-button (click)="nextPage()" [disabled]="currentPage >= (totalResults / limit) - 1">Próxima</button>
  </div>
</div>



