<div class="container ml-5">
  <h2 class="text-2xl font-bold">Estoque</h2>
  <p class="subtitle text-sm mb-4 flex justify-content-center align-items-center" style="color: #909090">
    Gerencie os produtos oferecios pelo estabelecimento
  </p>
  <div class="flex align-items-center justify-content-between  w-full mb-4">
    <div class="w-10rem"></div>
    <div class="align-self-start mr-2">
      <button
        mat-raised-button
        color="primary"
        class="add_button bg-black-alpha-70 mt-2"
        style="color: white"
        (click)="create()">
        <mat-icon>add</mat-icon>
        Adicionar produto
      </button>
    </div>
  </div>

  <section class="flex-wrap">
    @for(category of categories; track category) {
      @if(categoryPanation[category].products.length > 0) {
        <section class="flex flex-column">
          <div>{{ category }}</div>
          <div class="flex flex-col gap-4 mb-6" id="category-{{ category }}">
            <div class="flex overflow-x-auto gap-4 styled-scroll" (scroll)="onScroll(category)">
              @for(prod of categoryPanation[category].products; track prod.id) {
                <mat-card class="min-w-[20rem]  flex-shrink-0 overflow-hidden border bg-white flex flex-col">
                  <app-product-item [prod]="prod"></app-product-item>
                  <div class="flex justify-between items-center p-3">
                    <button mat-button type="button" (click)="restock(prod)">
                      <mat-icon>add_circle</mat-icon> Abastecer
                    </button>
                    <button mat-button type="button" (click)="edit(prod)">
                      <mat-icon>edit</mat-icon> Editar
                    </button>
                  </div>
                </mat-card>
              }
            </div>
          </div>
        </section>
      }
    }
  </section>
</div>
