<div class="grid">

  <div class="col-12 justify-content-center align-items-center align-content-center">
    <h2>Estoque</h2>
    <span class="flex font-gray w-full justify-content-center">
      Gerencie e abasteça os produtos oferecidos pelo estabelecimento
    </span>
  </div>

  <div class="col-12 p-4">
    <div class="flex justify-content-between align-items-center col-12 align-content-center align-items-center ">
      <mat-form-field appearance="outline" class="search w-30rem">
        <mat-label>Buscar Produto</mat-label>
        <input matInput type="text"
               #inputElement
               placeholder="Digite o nome do produto"
               [(ngModel)]="searchTerm"
               (input)="onSearchInput(inputElement.value)" />
      </mat-form-field>


      <div class="flex align-items-center justify-content-end mb-5">
        <div class="align-self-start mr-2">
          <button
            mat-raised-button
            color="primary"
            class="add_button bg-black-alpha-70 mt-2"
            style="color: white"
            (click)="create()">
            <mat-icon>add</mat-icon>
            Adicionar produto
          </button>
        </div>
    </div>
  </div>



  @if(this.searchTerm == ""){
  <section class="flex-wrap col-12">
    @for(category of categories; track category) {
      @if(categoryPanation[category].products.length > 0) {
        <section class="flex flex-column">
          <h4>{{ category }}</h4>
          <div class="flex flex-col gap-4 mb-6" id="category-{{ category }}">
            <div class="flex overflow-x-auto gap-4 styled-scroll p-2" (scroll)="onScroll(category)">
              @for(prod of categoryPanation[category].products; track prod.id) {
                <mat-card class="min-w-[16rem]  flex-shrink-0 overflow-hidden border bg-white flex flex-col p-3">
                  <app-product-item [prod]="prod"></app-product-item>
                  <div class="grid justify-content-between">
                    <button mat-raised-button class="add_button" type="button" (click)="restock(prod)">
                      <mat-icon>add_circle</mat-icon> Abastecer
                    </button>
                    <button mat-raised-button class="add_button" type="button" (click)="edit(prod)">
                      <mat-icon>edit</mat-icon> Editar
                    </button>
                  </div>
                </mat-card>
              }
            </div>
          </div>
        </section>
      }
    }
  </section>
  } @else {
        <section class="flex flex-column">
            <div class="flex overflow-x-auto gap-4 styled-scroll p-2" (scroll)="onScroll()">
              @for(prod of products; track products) {
                <mat-card class="min-w-[16rem]  flex-shrink-0 overflow-hidden border bg-white flex flex-col p-3">
                  <app-product-item [prod]="prod"></app-product-item>
                  <div class="grid justify-content-between">
                    <button mat-raised-button class="add_button" type="button" (click)="restock(prod)">
                      <mat-icon>add_circle</mat-icon> Abastecer
                    </button>
                    <button mat-raised-button class="add_button" type="button" (click)="edit(prod)">
                      <mat-icon>edit</mat-icon> Editar
                    </button>
                  </div>
                </mat-card>
              }
            </div>
        </section>
      }
</div>


</div>
