<div class="flex align-items-center justify-content-center p-5 " xmlns="http://www.w3.org/1999/html">
  <mat-card class="p-4 w-6 h-10 flex align-content-start" appearance="raised">
    <mat-card-header>
      <div class="flex flex-column shadow-log">
        <span class="text-xl mb-1 font-bold"> Confirmar Check-in </span>
        <span class="text-sm text-500 mb-3"> Confirme as informacoes do aluno </span>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="flex align-items-center gap-3">
        <div>
          <div class="avatar align-items-center">
            {{ getInitials(memberPlan?.aluno?.nome || '') }}
          </div>
        </div>
        <div>
          <span class="text-lg font-bold"> {{ memberPlan?.aluno?.nome }}</span><br>
          <span class="text-sm text-gray"> {{ memberPlan?.aluno?.email }}</span>
        </div>
      </div>
      <div class="flex align-items-start justify-content-start mt-3 text-sm ">
        <mat-icon>schedule</mat-icon><span> Data e Hora: {{ currentTime }}</span>
      </div>
    </mat-card-content>
    <form [formGroup]="formGroup">
      <mat-card-actions>
        <button class="w-full bg-black-alpha-90 text-white-alpha-90 border-round" mat-button (click)="confirm()">Confirmar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
