<div class="flex align-items-center justify-content-center p-5">
  <mat-card class="check-in-card payment-card w-30rem">
    <mat-card-content>

      <div class="member-info flex align-items-center overflow-hidden text-overflow-ellipsis mb-3">
        <div class="avatar align-items-center">
          {{ getInitials(memberPlan?.aluno?.nome || '') }}
        </div>
        <div class="flex-column">
          <div class="name font-bold">{{ memberPlan?.aluno?.nome }}</div>
          <div class="email">{{ memberPlan?.aluno?.email }}</div>
        </div>
      </div>

      <div class="extra-info">
        <div class="info-row">
          <span>Data e Hora:</span> <strong>{{ currentTime }}</strong>
        </div>
      </div>

      <form [formGroup]="formGroup">
        <mat-card-actions class="mt-3">
          <div class="footer p-2 w-full flex align-items-center">
            <button
              mat-button
              class="w-full border-round p-2 text-white bg-black-alpha-90"
              (click)="confirm()">
              Confirmar
            </button>
          </div>
        </mat-card-actions>
      </form>

    </mat-card-content>
  </mat-card>
</div>
