.avatar {
  width: 40px;
  height: 40px;
  background-color: #53cd55;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
}

