<div class="paginator" *ngIf="totalItems > 0">
  <button
    (click)="prev()"
    [disabled]="!hasPreviousPage"
    class="paginator-button">
    Anterior
  </button>

  <span class="paginator-info">
    {{ totalItems === 0 ? '0' : startIndex }} - {{ endIndex }} de {{ totalItems }}
  </span>

  <button
    (click)="next()"
    [disabled]="!hasNextPage"
    class="paginator-button">
    Próximo
  </button>
</div>

<div class="paginator" *ngIf="totalItems === 0">
  <span class="paginator-info">Nenhum registro encontrado</span>
</div>
