.member-cad {
  margin-bottom: 16px;
}

.search{
  width: 100%;
}

.member-info {
  justify-content: space-between;
  align-items: flex-start;
}

.mat-tab-group {
  padding-top: 16px;
}

.search {
  margin-top: 16px;
}



