<h2 class="title">Pagamento</h2>
<div class="subtitle flex justify-content-center">Registre pagamentos realizados por alunos</div>

<mat-tab-group [(selectedIndex)]="selectedIndex">
  <mat-tab label="Seleção Aluno">
    <div class="flex align-items-center justify-content-center">
      <mat-form-field appearance="outline" class="search w-30rem">
        <mat-label>Buscar Aluno</mat-label>
        <input matInput="text" placeholder="Digite o nome ou matrícula" [(ngModel)]="searchTerm"
               (input)="onSearchChange(searchTerm)" />
      </mat-form-field>
    </div>

    <div class="member-list p-3 gap-2 ml-4 " >
        <mat-card class="member-card" *ngFor="let member of membersPlan; trackBy: trackById "
                  (click)="makePayment(member)">
          <mat-card-content>
            <div class="member-info flex align-items-center">
              <div class="avatar align-items-center">
                {{ getInitials(member.aluno.nome) }}
              </div>
              <div class="details flex-column">
                <div class="name">{{ member.aluno.nome }}</div>
                <div class="email">{{ member.aluno.email }}</div>
              </div>
            </div>
            <div class="extra-info">
              <div class="info-row">
                <span>Plano Atual:</span> <strong>{{ member.plano.nome }}</strong>
              </div>
              <div class="info-row">
                <span>Matrícula:</span> <strong>{{ (member.aluno.matricula) }}</strong>
              </div>
            </div>
          </mat-card-content>
          <div class="footer p-2 flex justify-content-center">
            <mat-icon>attach_money</mat-icon>
            <span class="Realizar check-in">Registrar Pagamento</span>
          </div>
        </mat-card>
    </div>
    <app-paginator
      [totalItems]="totalResults"
      [itemsPerPage]="limit"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)">
    </app-paginator>


  </mat-tab>
  <mat-tab label="Confirmação" [disabled]="!obj">
  <app-payment-confirm [member]="obj" ></app-payment-confirm>
  </mat-tab>
</mat-tab-group>

