<div class="p-4">
  <h3 class="text-lg font-semibold mb-4" style="text-align: center;
">
    Pagamentos do aluno: {{ memberInfo?.aluno?.nome }}
  </h3>

  <div>
    <mat-table [dataSource]="payments" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>>
        <mat-cell *matCellDef="let pay"> {{ pay.id }} </mat-cell>>
      </ng-container>

      <ng-container matColumnDef="valor">
        <mat-header-cell *matHeaderCellDef> Valor (R$) </mat-header-cell>>
        <mat-cell *matCellDef="let pay"> R$ {{ pay.valor }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="data_pagamento">
        <mat-header-cell *matHeaderCellDef> Data de Pagamento </mat-header-cell>
        <mat-cell *matCellDef="let pay"> {{ pay.data_pagamento | date:'dd/MM/yyyy' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="data_vencimento">
        <mat-header-cell *matHeaderCellDef> Data de Vencimento </mat-header-cell>
        <mat-cell *matCellDef="let pay"> {{ pay.data_vencimento | date:'dd/MM/yyyy' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tipo_pagamento">
        <mat-header-cell *matHeaderCellDef> Tipo de Pagamento </mat-header-cell>
        <mat-cell *matCellDef="let pay"> {{ pay.tipo_pagamento }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="plano_nome">
        <mat-header-cell *matHeaderCellDef> Plano </mat-header-cell>
        <mat-cell *matCellDef="let pay"> {{ pay.plano_nome}} </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

  </div>
</div>

