<div class="w-full p-4">
  <h3 class="text-lg font-semibold mb-4" style="text-align: center;
">
    Pagamentos do aluno: {{ memberInfo?.aluno?.nome }}
  </h3>

  <div>

    <table mat-table [dataSource]="payments" class="mat-elevation-z8 w-full">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let pay"> {{ pay.id }} </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor (R$) </th>
        <td mat-cell *matCellDef="let pay"> R$ {{ pay.valor }} </td>
      </ng-container>

      <ng-container matColumnDef="data_pagamento">
        <th mat-header-cell *matHeaderCellDef> Data de Pagamento </th>
        <td mat-cell *matCellDef="let pay"> {{ pay.data_pagamento | date:'dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="data_vencimento">
        <th mat-header-cell *matHeaderCellDef> Data de Vencimento </th>
        <td mat-cell *matCellDef="let pay"> {{ pay.data_vencimento | date:'dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="tipo_pagamento">
        <th mat-header-cell *matHeaderCellDef> Tipo de Pagamento </th>
        <td mat-cell *matCellDef="let pay"> {{ pay.tipo_pagamento }} </td>
      </ng-container>

      <ng-container matColumnDef="plano_nome">
        <th mat-header-cell *matHeaderCellDef> Plano </th>
        <td mat-cell *matCellDef="let pay"> {{ pay.plano_nome}} </td>

      </ng-container>

      <thead>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      </thead>

      <tbody>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </tbody>

    </table>

  </div>
</div>

