<h2 mat-subheader>Dashboards</h2>
<div class="dashboard-container">
  <div class="dashboard-item">
    <app-members-flow-by-time-component></app-members-flow-by-time-component>
  </div>
  <div class="dashboard-item" style="display: flex; width: 100%;">
    <div class="chart-container">
      <app-member-plans-overview-component></app-member-plans-overview-component>
    </div>
    <div class="chart-container">
      <app-plans-with-new-members-component></app-plans-with-new-members-component>
    </div>
  </div>
  <div class="dashboard-item">
    <app-monthly-earnings-chart></app-monthly-earnings-chart>
  </div>
</div>
