<div class="container">
  <h2 class="title">Pagamentos por Aluno</h2>

  <mat-form-field appearance="outline" class="search">
    <mat-label>Busca Aluno</mat-label>
    <input matInput placeholder="Digite o nome ou matrícula" [(ngModel)]="searchTerm" (input)="searchMember()">
  </mat-form-field>

  <div class="member-list">
    <mat-card class="member-card" *ngFor="let member of members; trackBy: trackById" (click)="selectMember(member)">
      <mat-card-content>
        <div class="member-info flex align-items-center ">
          <mat-icon class="avatar align-items-center">person</mat-icon>
          <div class="details flex-column">
            <h3 class="name">{{ member.aluno.nome }}</h3>
            <p class="email">{{ member.aluno.email }}</p>
          </div>
        </div>
        <div class="extra-info">
          <div class="info-row">
            <span>Plano Atual:</span> <strong>{{ member.plano.nome }}</strong>
          </div>
          <div class="info-row">
            <span>Matrícula:</span> <strong>{{(member.aluno.matricula) }}</strong>
          </div>
        </div>
      </mat-card-content>
      <div class="footer p-3 flex justify-content-center">
        <span class="ver-pagamentos">Ver pagamentos</span>
      </div>
    </mat-card>
  </div>
</div>
