<div class="container">
  <h2 class="title">Pagamentos por Aluno</h2>
  <p class="subtitle flex justify-content-center">Selecione um aluno para ver seu histórico de pagamentos</p>

  <mat-form-field appearance="outline" class="search w-30rem flex align-items-center">
    <mat-label>Buscar aluno</mat-label>
    <input matInput="text" placeholder="Digite o nome ou matricula" [(ngModel)]="searchTerm"
           (input)="onSearchChange(searchTerm)" />
  </mat-form-field>


  <div class="member-list ml-4">
    <mat-card class="member-card" *ngFor="let member of members; trackBy: trackById" (click)="selectMember(member)">
      <mat-card-content>

        @if(!member.active){
          <mat-card
            class="absolute top-0 right-0 m-2 px-2 py-1 text-sm shadow-1 rounded text-white-alpha-90" style="background-color: #d82d2d"
          >
            Inativo
          </mat-card>
        } @else {
          <mat-card
            class="absolute top-0 right-0 m-2 px-2 py-1 text-sm shadow-1 rounded text-white-alpha-90" style="background-color: #2dd853"
          >
            Ativo
          </mat-card>
        }

        <div class="member-info flex align-items-center">
          <div class="avatar align-items-center">
            {{ getInitials(member.aluno.nome) }}
          </div>          <div class="details flex-column">
            <div class="name">{{ member.aluno.nome }}</div>
            <div class="email">{{ member.aluno.email }}</div>
          </div>
        </div>
        <div class="extra-info">
          <div class="info-row">
            <span>Plano recente:</span> <strong>{{ member.plano.nome }}</strong>
          </div>
          <div class="info-row">
            <span>Matrícula:</span> <strong>{{(member.aluno.matricula) }}</strong>
          </div>
        </div>
      </mat-card-content>
      <div class="footer p-2 flex justify-content-center">
        <span class="ver-pagamentos">Ver pagamentos</span>
      </div>
    </mat-card>
  </div>

  <app-paginator
    [totalItems]="totalResults"
    [itemsPerPage]="limit"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)">
  </app-paginator>


</div>
