mat-car{
  margin-bottom: 12px;
  padding: 8px 16px;
}

p{
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

mat-list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

span{
  padding: 13px;
}


