<div class="employer-list">
  <h3 mat-subheader>Funcionarios</h3>
  <mat-list>
    @for (employee of employers; track employee.id) {
      <mat-card>
        <mat-list-item>
          <p matListItemLine>
            <span> <strong>ID:</strong> {{employee.id}}</span>
            <span> <strong>Nome:</strong> {{employee.nome}}</span>
            <span> <strong>Email:</strong> {{employee.username}}</span>
            <span> <strong>Cargo:</strong> {{employee.tipo_usuario}}</span>

            <button [disabled]="typeUser == 'D' && employee.tipo_usuario === 'D'" mat-icon-button color="primary" (click)="edit(employee)">
              <mat-icon>edit</mat-icon>
            </button>
            <button   [disabled]="employee.tipo_usuario === 'D'" mat-icon-button color="warn" (click)="delete(employee.id)" >
              <mat-icon>delete</mat-icon>
            </button>
          </p>
        </mat-list-item>
      </mat-card>

    }
  </mat-list>
  <button mat-button color="warn" (click)="create()">Novo funcionario</button>
</div>

