.container {
  padding: 20px;
}

.subtitle {
  text-align: center;
  color: #909090;
}

.search {
  margin: auto;
}

.member-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.member-card {
  width: 95%;
  background: #f8f8f8;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.member-card:hover {
  transform: scale(1.06);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #539ecd;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
}


.member-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.email {
  font-size: 0.85rem;
  color: #666;
}

.extra-info {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.info-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #444;
}

.footer {
  background: #ededed;
  font-size: 0.9rem;
  color: #969696;
  border-top: 1px solid #eee;
  border-radius: 0 0 9px 9px;
}

.icon-edit:hover{
  color: #5a87e6;
}

.icon-delete:hover{
  color: #e65a5a;
}

