@import "primeflex/primeflex.css";

html, body {margin: 0; height: 100%; overflow: hidden}


.mat-mdc-dialog-container {
  border-radius: 4px !important;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f4f7fc;

}

h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

button {
  font-size: 1rem;
  font-weight: bold;
}

button.add_button {
  margin-left: 9px;
  border-radius: 2px;

}

.font-red{
  color: #d82d2d;
}

bg-red {
  background-color: #d82d2d;
}

.help-icon:hover{
  opacity: 0.7;
  background-color: #f0f0f0;
  cursor: pointer;
  color: #b0bec5;
}

.help-icon mat-icon {
  font-size: 24px;
  color: #4dca4f;
}

.help-icon mat-icon {
  font-size: 24px;
  margin-left: auto;
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.font-gray{
  color: #909090;
}

.enabled-button {
  background-color: #4caf50; /* Exemplo: verde */
  color: white;
  border: 1px solid #388e3c;
}

