<div class="flex align-items-center justify-content-center p-5">
  <mat-card class="payment-card w-30rem">
    <mat-card-content>

      <div class="member-info flex align-items-center overflow-hidden text-overflow-ellipsis mb-3">
        <div class="avatar align-items-center">
          {{ getInitials(memberPlan?.aluno?.nome || '') }}
        </div>
        <div class="flex-column">
          <div class="name font-bold">{{ memberPlan?.aluno?.nome }}</div>
          <div class="email">{{ memberPlan?.aluno?.email }}</div>
        </div>
      </div>

      <div class="extra-info">
        <div class="info-row">
          <span>Plano:</span> <strong>{{ memberPlan?.plano?.nome }}</strong>
        </div>
        <div class="info-row">
          <span>Preço:</span> <strong>{{ memberPlan?.plano?.preco | currency:'BRL' }}</strong>
        </div>
        <div class="info-row">
          <span>Duração:</span> <strong>{{ memberPlan?.plano?.duracao }} meses</strong>
        </div>
      </div>

      <form [formGroup]="formGroup">
        <mat-radio-group formControlName="tipo_pagamento" class="flex justify-content-center mt-3 gap-3">
          <mat-radio-button value="C">Cartão</mat-radio-button>
          <mat-radio-button value="D">Dinheiro</mat-radio-button>
          <mat-radio-button value="P">Pix</mat-radio-button>
        </mat-radio-group>
        <mat-card-actions class="mt-3">
          <div class="footer p-2 w-full flex align-items-center">
            <button
              mat-button
              class="w-full border-round p-2 text-white"
              [ngClass]="{
                  'bg-black-alpha-90': formGroup.get('tipo_pagamento')?.value,
                  'bg-gray-400 text-gray-100': !formGroup.get('tipo_pagamento')?.value
                }"
              (click)="confirm()"
              [disabled]="!formGroup.get('tipo_pagamento')?.value"
            >
              Confirmar
            </button>
          </div>
        </mat-card-actions>
      </form>

    </mat-card-content>
  </mat-card>
</div>
