<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="saveOrUpdate(formGroup.value)" class="mat-elevation-z2 form">
    <h2 class="form-title">{{this.title}}</h2>
    <mat-form-field appearance="fill" class="nome">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" placeholder="Digite o nome do funcionario" />
      @if(formGroup.get('nome')?.hasError('required')){<mat-error>
        Campo Obrigatorio
      </mat-error>}
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="username" placeholder="Digite o email do funcinario" />
      @if(formGroup.get('username')?.hasError('required')){<mat-error>
        Campo Obrigatorio
      </mat-error>}

      @if(formGroup.get('username')?.hasError('email')){<mat-error>
        Insira um email valido
      </mat-error>}

    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Digite uma senha" />
      @if (formGroup.get('password')?.hasError('required')) {
        <mat-error>
          Campo Obrigatorio
        </mat-error>
      }
      @if (formGroup.get('password')?.hasError('minlength')){
        <mat-error>
          Deve conter no minimo 6 caracteres.
        </mat-error>
      }

      @if (formGroup.get('password')?.hasError('pattern')){
        <mat-error>
          Deve conter um número e um caracter especial
        </mat-error>}
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cargo</mat-label>
      <mat-select formControlName="tipo_usuario" ARIA-PLACEHOLDER="Cargo">
        @for(cargo of cargos; track cargo){
          <mat-option [value]="cargo.value">
            {{cargo.viewValue}}
          </mat-option>
        }
      </mat-select>

    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!formGroup.valid" type="submit" class="save">Salvar</button>

  </form>
</div>
