 <div class="h-36 flex items-center justify-center">
    <img [src]="prod.foto_url" alt="Imagem do produto"
         class="h-full object-contain max-w-[90%] max-h-full"/>
  </div>

  <mat-card-content class="p-4 space-y-1">
    <div class="flex justify-content-between">
      <div class=" font-semibold text-2xl ">{{ prod.nome }}</div>
      <div class="text-2xl font-bold whitespace-nowrap">R$ {{ prod.preco }}</div>
    </div>

    <div class="flex items-center text-xs gap-1 font-gray">
      <mat-icon fontIcon="local_offer" class="text-sm text-gray-400"></mat-icon>
      {{ prod.categoria || 'Produto' }}
    </div>

    <div class="text-xs font-gray"  >
      <strong>Marca:</strong> {{ prod.marca || 'Desconhecida' }}
    </div>

    <p class="text-sm font-gray ">{{ prod.descricao }}</p>

  </mat-card-content>
