<div class="employer-list">
  <h3 mat-subheader>Alunos</h3>
  <mat-form-field appearance="outline" class="search">
    <mat-label>Busca Aluno</mat-label>
    <input matInput="text" placeholder="Digite o nome ou matricula" [(ngModel)]="searchTerm" (input)="searchMember()"/>
  </mat-form-field>
  @for (member of members; track member.aluno.id) {
    <mat-card class="member-cad" appearance="outlined">
      <mat-card-content>
        <div class="member-info">
          <div><strong>Matricula:</strong> {{ member.aluno.matricula }}</div>
          <div><strong>Nome:</strong> {{ member.aluno.nome }}</div>
          <div><strong>Email:</strong> {{ member.aluno.email }}</div>
          <div><strong>Plano:</strong>  {{ member.plano.nome }}</div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="edit(member.aluno)" mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="disable(member.aluno)" mat-icon-button color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  }
  <button mat-button color="warn" (click)="create()">Novo aluno</button>
</div>
