<div class="container">
  <h2 class="title">Alunos</h2>
  <p class="subtitle flex justify-content-center">Edite ou desative alunos vinculados a academia</p>


  <div class="flex align-items-center justify-content-between  w-full mb-4">

    <div class="w-10rem"></div>

    <mat-form-field appearance="outline" class="search w-30rem">
      <mat-label>Buscar aluno</mat-label>
      <input matInput="text" placeholder="Digite o nome ou matricula" [(ngModel)]="searchTerm"
             (input)="onSearchChange(searchTerm)" />
    </mat-form-field>

    <div class="align-self-start mr-2">
      <button
        mat-raised-button
        color="primary"
        class="add_button bg-black-alpha-70 mt-2"
        style="color: white"
        (click)="create()">
        <mat-icon>add</mat-icon>
        Novo Aluno
      </button>
    </div>

  </div>


  <div class="member-list ml-4">
    @for(member of members; track trackById){
    <mat-card class="member-card">
      <mat-card-content>

        <mat-card
          class="absolute top-0 right-0 m-2 px-2 py-1 text-sm shadow-1 rounded" style="color: white ;background-color:{{getMemberStatusColor(member.data_vencimento)}}"
        >
          {{getMemberStatus(member.data_vencimento)}}

        </mat-card>

        <div class="member-info flex align-items-center">
          <div class="avatar align-items-center">
            {{ getInitials(member.aluno.nome) }}
          </div>
          <div class=" flex-column">
          <div class="name font-bold">{{ member.aluno.nome }}</div>
          <div class="email">{{ member.aluno.email }}</div>
        </div>
        </div>
        <div class="extra-info">
          <div class="info-row">
            <span>Plano Atual:</span> <strong>{{ member.plano.nome }}</strong>
          </div>
          <div class="info-row">
            <span>Matrícula:</span> <strong>{{(member.aluno.matricula) }}</strong>
          </div>
        </div>
      </mat-card-content>
      <div class="footer p-2 flex justify-content-between align-items-center">
         <div class=" icon-edit flex items-center gap-2" (click)="edit(member.aluno)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
         </div>
         <div class=" icon-delete flex items-center gap-2" (click)="disable(member.aluno)">
            <mat-icon>delete</mat-icon>
            <span>Apagar</span>
       </div>
      </div>
    </mat-card>
    }
  </div>

  <app-paginator
    [totalItems]="totalResults"
    [itemsPerPage]="limit"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)">
  </app-paginator>

</div>
