<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="saveOrUpdate(formGroup.value)" class="mat-elevation-z2 form">
    <h2 class="form-title">{{ title }}</h2>

    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" placeholder="Digite o nome do produto" />
      <mat-error *ngIf="formGroup.get('nome')?.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Preço</mat-label>
      <input matInput formControlName="preco" type="number" placeholder="Digite o preço" />
      <mat-error *ngIf="formGroup.get('preco')?.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Marca</mat-label>
      <input matInput formControlName="marca" placeholder="Marca do produto" />
      <mat-error *ngIf="formGroup.get('marca')?.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estoque</mat-label>
      <input matInput formControlName="quantidade_estoque" type="number" placeholder="Quantidade em estoque" />
      <mat-error *ngIf="formGroup.get('quantidade_estoque')?.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="descricao" placeholder="Descrição do produto"></textarea>
      <mat-error *ngIf="formGroup.get('descricao')?.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <div class="form-group">
      <label for="fileInput">Imagem do Produto</label>
      <input id="fileInput" type="file" (change)="onImageSelected($event)" />
    </div>

    <div *ngIf="imagePreviewUrl" class="image-preview">
      <p>Imagem atual:</p>
      <img [src]="imagePreviewUrl" width="200" alt="Preview do produto" />
    </div>

    <button mat-raised-button color="primary" [disabled]="!formGroup.valid" type="submit">Salvar</button>
  </form>
</div>
