<div class="container align-items-center">

  <form [formGroup]="formGroup" (ngSubmit)="saveOrUpdate(formGroup.value)" class="mat-elevation-z2 form">
    <h2 class="form-title">{{ title }}</h2>

    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" placeholder="Digite o nome do produto"/>
      @if (formGroup.get('nome')?.hasError('required')) {
        <mat-error>
          Campo obrigatório
        </mat-error>
      }    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Preço</mat-label>
      <input matInput formControlName="preco" type="number" placeholder="Digite o preço"/>
      @if (formGroup.get('preco')?.hasError('required')) {
        <mat-error>
          Campo obrigatório
        </mat-error>
      }
      @if (formGroup.get('preco')?.hasError('min')) {
        <mat-error>
          Campo obrigatório
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Marca</mat-label>
      <input matInput formControlName="marca" placeholder="Marca do produto"/>
      @if (formGroup.get('marca')?.hasError('required')) {
        <mat-error>
          Campo obrigatório
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="categoria">
        @for (cat of categorias; track cat.value) {
          <mat-option [value]="cat.value">{{ cat.label }}</mat-option>
        }
      </mat-select>
      @if (formGroup.get('categoria')?.hasError('required')) {
        <mat-error>
          Campo obrigatório
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="descricao" placeholder="Descrição do produto"></textarea>
      @if (formGroup.get('descricao')?.hasError('required')) {
        <mat-error>
          Campo obrigatório
        </mat-error>
      }
    </mat-form-field>

    <div class="form-group">
      <input type="file" (change)="onFileSelected($event)"/>
    </div>

    <button
      mat-raised-button
      color="accent"
      type="button"
      class="mb-1"
      (click)="openAdjustStockModal()"
      [disabled]="!formGroup.get('id')?.value"
    >
      Diminuir Estoque
    </button>

    <div *ngIf="imagePreviewUrl" class="image-preview">
      <p>Imagem atual:</p>
      <img [src]="imagePreviewUrl" width="200" alt="Preview do produto"/>
    </div>

    <button mat-raised-button color="primary" [disabled]="!formGroup.valid" type="submit">Salvar</button>
  </form>

</div>
